.chart-container {
	flex: 1;
	height: fit-content;
	width: fit-content;
	padding: 2rem;
	box-sizing: border-box;

	background: var(--secondary-background);
	border-radius: 1rem;

	box-shadow: 0px 20px 20px hsla(210, 26%, 21%, 0.15);

	display: flex;
	justify-items: center;
	align-items: center;

	flex-wrap: wrap;
}
